ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Host=localhost;Database=StackbuldProductOrdering;Username=postgres;Password=postgres;Port=5432

POSTGRES_DB=StackbuldProductOrdering
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@stackbuld.com
PGADMIN_DEFAULT_PASSWORD=admin123

API_PORT=5001
PGADMIN_PORT=5050
